<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.gjjiitld"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the app to draw on top of other applications or parts of the user interface. They may interfere with your use of the interface in any application, or change what you think you are seeing in other applications. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Allows the app to write to the SD card. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows the app to draw on top of other applications or parts of the user interface. They may interfere with your use of the interface in any application, or change what you think you are seeing in other applications. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Allows the app to read the contents of your SD card. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="ACCESS_SUPERUSER" />
    <!-- Allows the app to read the contents of your SD card. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Allows the app to retrieve its code, data, and cache sizes -->
    <uses-permission
        android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- Allows the app to get your precise location using the Global Positioning System (GPS) or network location sources such as cell towers and Wi-Fi. These location services must be turned on and available to your device for the app to use them. Apps may use this to determine where you are, and may consume additional battery power. -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Allows the app to view information about Wi-Fi networking, such as whether Wi-Fi is enabled and name of connected Wi-Fi devices. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allows the app to connect to and disconnect from Wi-Fi access points and to make changes to device configuration for Wi-Fi networks. -->
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/mp"
        android:name="com.gjjiitld.LkteamApp"
        android:debuggable="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/mp"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <activity
            android:name="com.gjjiitld.LoginActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.gjjiitld.MainActivity" />
        <service
            android:name="com.gjjiitld.Floater" />
    </application>
</manifest>